<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<!-- Manual CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

	<title> معلومات المشتركين </title>
</head>

<body>
{{test}}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 text-center m-5">
                <img src="{{url_for('static', filename='img/gis.jpg')}}" width="1000px">
            </div>
            <form method="POST" enctype="multipart/form-data" action="{{url_for('download')}}" class="mt-5">
                <div class="custom-file mb-4">
                  <input type="file" class="custom-file-input" id="customFile" name="file[]" multiple="">
                  <label class="custom-file-label" for="customFile">... اختيار الملفات </label>
                </div>
                <button class="btn btn-info btn-lg btn-block mt-5" type="submit">تحميل الملفات </button>
            </form>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--	<script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>-->
<!--	<script type="text/javascript" src="{{url_for('static', filename='js/popper.min.js')}}"></script>-->
<!--	<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>-->

    <!-- Manual JavaScript -->
<!--    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>-->

</body>
</html>


