<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<!-- Manual CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

	<title> معلومات المشتركين </title>
</head>

<body>
{{test}}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 text-center m-4">
                <img src="{{url_for('static', filename='img/gis.jpg')}}" width="1000px">
            </div>
<!--            <form action="{{url_for('download')}}" method="post" class="mt-5">-->
<!--                <div class="form-group">-->
<!--                    <div class="custom-file">-->
<!--                        <input type="file" class="custom-file-input" id="file" name="file">-->
<!--                        <label class="custom-file-label translate" for="file" data-key="file_upload">...  اختر ملف المشتركين  </label>-->
<!--                    </div>-->
<!--                </div>-->
<!--&lt;!&ndash;                <textarea class="form-control form-control-sm" id="input-note" rows="2" name="note"></textarea>&ndash;&gt;-->
<!--                <div class="form-group text-center mt-5">-->
<!--                    <button type="Submit" class="btn btn-info btn-lg btn-block"> تحميل </button>-->
<!--                </div>-->
<!--            </form>-->
            <form method="POST" enctype="multipart/form-data" action="{{url_for('download')}}">
                 <input type="file" name="file[]" multiple="">
                 <input type="submit" value="add">
            </form>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--	<script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>-->
<!--	<script type="text/javascript" src="{{url_for('static', filename='js/popper.min.js')}}"></script>-->
<!--	<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>-->

    <!-- Manual JavaScript -->
<!--    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>-->

</body>
</html>


